# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules
/build
/coverage

# editor files
/.idea
/.vscode

# misc
.DS_Store
.eslintcache
npm-debug.log*
yarn-debug.log*
yarn-error.log*
