<header></header>
<div class="container-fluid">
    <div class="row" ng-show="!showOffer && !showWinnings">
        <h2 class="naration">Cases Left: {{ counter }}</h2>
    </div>
    <div class="row bet" ng-show="showOffer && !showWinnings">
        <h2 class="naration col-sm-3">Offer: ${{ offer | number: 0 }}</h2>
        <div class="col-sm-4"><div class="btn btn-default btn-lg btn-block btn-primary handc" ng-click="deal()">Deal</div></div>
        <div class="col-sm-1"><p>&nbsp;</p></div>
        <div class="col-sm-4"><div class="btn btn-default btn-lg btn-block btn-danger handc" ng-click="noDeal()">No Deal</div></div>
    </div>
    <div class="row" ng-show="showWinnings">
        <h2 class="col-sm-4 naration">You Won ${{ offer | number: 0 }}</h2>
        <h2 class="col-sm-4 naration">Your Case ${{ myCase.val | number: 0 }}</h2>
        <div class="col-sm-4"><div class="btn btn-default btn-lg btn-block btn-primary handc" ng-click="newGame()">New Game</div></div>
    </div>
    <hr />
    <div class="row bet">
        <div class="col-sm-2"><div class="btn btn-default btn-lg btn-block suitcase handc" ng-class="caseClass[20]" ng-click="caseSelect(20)">{{ board[20] }}</div></div>
        <div class="col-sm-2"><div class="btn btn-default btn-lg btn-block suitcase handc" ng-class="caseClass[21]" ng-click="caseSelect(21)">{{ board[21] }}</div></div>
        <div class="col-sm-2"><div class="btn btn-default btn-lg btn-block suitcase handc" ng-class="caseClass[22]" ng-click="caseSelect(22)">{{ board[22] }}</div></div>
        <div class="col-sm-2"><div class="btn btn-default btn-lg btn-block suitcase handc" ng-class="caseClass[23]" ng-click="caseSelect(23)">{{ board[23] }}</div></div>
        <div class="col-sm-2"><div class="btn btn-default btn-lg btn-block suitcase handc" ng-class="caseClass[24]" ng-click="caseSelect(24)">{{ board[24] }}</div></div>
        <div class="col-sm-2"><div class="btn btn-default btn-lg btn-block suitcase handc" ng-class="caseClass[25]" ng-click="caseSelect(25)">{{ board[25] }}</div></div>
    </div>
    <div class="row bet">
        <div class="col-sm-1"><div class="btn btn-default btn-lg btn-block suitcase handc" ng-class="caseClass[13]" ng-click="caseSelect(13)">{{ board[13] }}</div></div>
        <div class="col-sm-2"><div class="btn btn-default btn-lg btn-block suitcase handc" ng-class="caseClass[14]" ng-click="caseSelect(14)">{{ board[14] }}</div></div>
        <div class="col-sm-2"><div class="btn btn-default btn-lg btn-block suitcase handc" ng-class="caseClass[15]" ng-click="caseSelect(15)">{{ board[15] }}</div></div>
        <div class="col-sm-2"><div class="btn btn-default btn-lg btn-block suitcase handc" ng-class="caseClass[16]" ng-click="caseSelect(16)">{{ board[16] }}</div></div>
        <div class="col-sm-2"><div class="btn btn-default btn-lg btn-block suitcase handc" ng-class="caseClass[17]" ng-click="caseSelect(17)">{{ board[17] }}</div></div>
        <div class="col-sm-2"><div class="btn btn-default btn-lg btn-block suitcase handc" ng-class="caseClass[18]" ng-click="caseSelect(18)">{{ board[18] }}</div></div>
        <div class="col-sm-1"><div class="btn btn-default btn-lg btn-block suitcase handc" ng-class="caseClass[19]" ng-click="caseSelect(19)">{{ board[19] }}</div></div>
    </div>
    <div class="row bet">
        <div class="col-sm-1"><div class="btn btn-default btn-lg btn-block suitcase handc" ng-class="caseClass[6]" ng-click="caseSelect(6)">{{ board[6] }}</div></div>
        <div class="col-sm-2"><div class="btn btn-default btn-lg btn-block suitcase handc" ng-class="caseClass[7]" ng-click="caseSelect(7)">{{ board[7] }}</div></div>
        <div class="col-sm-2"><div class="btn btn-default btn-lg btn-block suitcase handc" ng-class="caseClass[8]" ng-click="caseSelect(8)">{{ board[8] }}</div></div>
        <div class="col-sm-2"><div class="btn btn-default btn-lg btn-block suitcase handc" ng-class="caseClass[9]" ng-click="caseSelect(9)">{{ board[9] }}</div></div>
        <div class="col-sm-2"><div class="btn btn-default btn-lg btn-block suitcase handc" ng-class="caseClass[10]" ng-click="caseSelect(10)">{{ board[10] }}</div></div>
        <div class="col-sm-2"><div class="btn btn-default btn-lg btn-block suitcase handc" ng-class="caseClass[11]" ng-click="caseSelect(11)">{{ board[11] }}</div></div>
        <div class="col-sm-1"><div class="btn btn-default btn-lg btn-block suitcase handc" ng-class="caseClass[12]" ng-click="caseSelect(12)">{{ board[12] }}</div></div>
    </div>
    <div class="row bet">
        <div class="col-sm-2"><div class="btn btn-default btn-lg btn-block suitcase handc" ng-class="caseClass[0]" ng-click="caseSelect(0)">{{ board[0] }}</div></div>
        <div class="col-sm-2"><div class="btn btn-default btn-lg btn-block suitcase handc" ng-class="caseClass[1]" ng-click="caseSelect(1)">{{ board[1] }}</div></div>
        <div class="col-sm-2"><div class="btn btn-default btn-lg btn-block suitcase handc" ng-class="caseClass[2]" ng-click="caseSelect(2)">{{ board[2] }}</div></div>
        <div class="col-sm-2"><div class="btn btn-default btn-lg btn-block suitcase handc" ng-class="caseClass[3]" ng-click="caseSelect(3)">{{ board[3] }}</div></div>
        <div class="col-sm-2"><div class="btn btn-default btn-lg btn-block suitcase handc" ng-class="caseClass[4]" ng-click="caseSelect(4)">{{ board[4] }}</div></div>
        <div class="col-sm-2"><div class="btn btn-default btn-lg btn-block suitcase handc" ng-class="caseClass[5]" ng-click="caseSelect(5)">{{ board[5] }}</div></div>
    </div>
    <hr />
    <div class="row bet">
        <div class="col-sm-1 btn btn-default btn-lg handc" ng-class="valClass[0]">$1</div>
        <div class="col-sm-1 btn btn-default btn-lg handc" ng-class="valClass[1]">$2</div>
        <div class="col-sm-1 btn btn-default btn-lg handc" ng-class="valClass[2]">$5</div>
        <div class="col-sm-1 btn btn-default btn-lg handc" ng-class="valClass[3]">$10</div>
        <div class="col-sm-1 btn btn-default btn-lg handc" ng-class="valClass[4]">$25</div>
        <div class="col-sm-1 btn btn-default btn-lg handc" ng-class="valClass[5]">$50</div>
        <div class="col-sm-1 btn btn-default btn-lg handc" ng-class="valClass[6]">$75</div>
        <div class="col-sm-1 btn btn-default btn-lg handc" ng-class="valClass[7]">$100</div>
        <div class="col-sm-1 btn btn-default btn-lg handc" ng-class="valClass[8]">$200</div>
        <div class="col-sm-1 btn btn-default btn-lg handc" ng-class="valClass[9]">$300</div>
        <div class="col-sm-1 btn btn-default btn-lg handc" ng-class="valClass[10]">$400</div>
        <div class="col-sm-1 btn btn-default btn-lg handc" ng-class="valClass[11]">$500</div>
    </div>
    <div class="row bet">
        <div class="col-sm-1 btn btn-default btn-lg handc" ng-class="valClass[12]">$750</div>
        <div class="col-sm-1 btn btn-default btn-lg handc" ng-class="valClass[13]">$1000</div>
        <div class="col-sm-1 btn btn-default btn-lg handc" ng-class="valClass[14]">$5000</div>
        <div class="col-sm-1 btn btn-default btn-lg handc" ng-class="valClass[15]">$10000</div>
        <div class="col-sm-1 btn btn-default btn-lg handc" ng-class="valClass[16]">$25000</div>
        <div class="col-sm-1 btn btn-default btn-lg handc" ng-class="valClass[17]">$50000</div>
        <div class="col-sm-1 btn btn-default btn-lg handc" ng-class="valClass[18]">$75000</div>
        <div class="col-sm-1 btn btn-default btn-lg handc" ng-class="valClass[19]">$100000</div>
        <div class="col-sm-1 btn btn-default btn-lg handc" ng-class="valClass[20]">$200000</div>
        <div class="col-sm-1 btn btn-default btn-lg handc" ng-class="valClass[21]">$300000</div>
        <div class="col-sm-1 btn btn-default btn-lg handc" ng-class="valClass[22]">$400000</div>
        <div class="col-sm-1 btn btn-default btn-lg handc" ng-class="valClass[23]">$500000</div>
    </div>
    <div class="row bet">
        <div class="col-sm-6 btn btn-default btn-lg handc" ng-class="valClass[24]">$750000</div>
        <div class="col-sm-6 btn btn-default btn-lg handc" ng-class="valClass[25]">$1000000</div>
    </div>
</div>