/* Global Styles */
body {
  background-color: #f5f5f5;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

p,
div {
  font-size: 1.03em;
}

p,
h4 {
  margin-bottom: 5px;
  margin-top: 5px;
}

/* Misc styles for elements */
.ReactTable {
  font-size: 14px;
}

/* Hand styles */
.player {
  border-radius: 5px;
  display: inline-block;
  margin: 10px;
  padding: 20px;
  padding-top: 0;
}

/* Card styles */
.playingCard {
  background-color: white;
  border-radius: 5px;
  cursor: hand;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  height: 78px;
  margin: 5px;
  padding: 3px;
  width: 50px;
}
.suit {
  display: block;
  margin: auto;
  max-width: 30px;
  width: 100%;
}
.dropped {
  margin-left: 5px;
  margin-top: 20px;
}
