<header></header>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-bordered roulettebet handc">
                <tbody>
                    <tr>
                        <td ng-click="placeBet(0)"  class="s37" rowspan="2">00 {{ crap[0].bet }}</td>
                        <td ng-click="placeBet(1)"  class="s37 s3">{{ crap[1].bet }}</td>
                        <td ng-click="placeBet(2)"  class="red s3">3 {{ crap[2].bet }}</td>
                        <td ng-click="placeBet(3)"  class="s3 s6">{{ crap[3].bet }}</td>
                        <td ng-click="placeBet(4)"  class="black s6">6 {{ crap[4].bet }}</td>
                        <td ng-click="placeBet(5)"  class="s6 s9">{{ crap[5].bet }}</td>
                        <td ng-click="placeBet(6)"  class="red s9">9 {{ crap[6].bet }}</td>
                        <td ng-click="placeBet(7)"  class="s9 s12">{{ crap[7].bet }}</td>
                        <td ng-click="placeBet(8)"  class="red s12">12 {{ crap[8].bet }}</td>
                        <td ng-click="placeBet(9)"  class="s12 s15">{{ crap[9].bet }}</td>
                        <td ng-click="placeBet(10)" class="black s15">15 {{ crap[10].bet }}</td>
                        <td ng-click="placeBet(11)" class="s15 s18">{{ crap[11].bet }}</td>
                        <td ng-click="placeBet(12)" class="red s18">18 {{ crap[12].bet }}</td>
                        <td ng-click="placeBet(13)" class="s18 s21">{{ crap[13].bet }}</td>
                        <td ng-click="placeBet(14)" class="red s21">21 {{ crap[14].bet }}</td>
                        <td ng-click="placeBet(15)" class="s21 s24">{{ crap[15].bet }}</td>
                        <td ng-click="placeBet(16)" class="black s24">24 {{ crap[16].bet }}</td>
                        <td ng-click="placeBet(17)" class="s24 s27">{{ crap[17].bet }}</td>
                        <td ng-click="placeBet(18)" class="red s27">27 {{ crap[18].bet }}</td>
                        <td ng-click="placeBet(19)" class="s27 s30">{{ crap[19].bet }}</td>
                        <td ng-click="placeBet(20)" class="red s30">30 {{ crap[20].bet }}</td>
                        <td ng-click="placeBet(21)" class="s30 s33">{{ crap[21].bet }}</td>
                        <td ng-click="placeBet(22)" class="black s33">33 {{ crap[22].bet }}</td>
                        <td ng-click="placeBet(23)" class="s33 s36">{{ crap[23].bet }}</td>
                        <td ng-click="placeBet(24)" class="red s36">36 {{ crap[24].bet }}</td>
                        <td ng-click="placeBet(25)" class="s3 s6 s9 s12 s15 s18 s21 s24 s27 s30 s33 s36">2-1 {{ crap[25].bet }}</td>
                    </tr>
                    <tr>
                        <td ng-click="placeBet(26)" class="s37 s2 s3">{{ crap[26].bet }}</td>
                        <td ng-click="placeBet(27)" class="s2 s3">{{ crap[27].bet }}</td>
                        <td ng-click="placeBet(28)" class="s2 s3 s5 s6">{{ crap[28].bet }}</td>
                        <td ng-click="placeBet(29)" class="s5 s6">{{ crap[29].bet }}</td>
                        <td ng-click="placeBet(30)" class="s5 s6 s8 s9">{{ crap[30].bet }}</td>
                        <td ng-click="placeBet(31)" class="s8 s9">{{ crap[31].bet }}</td>
                        <td ng-click="placeBet(32)" class="s8 s9 s11 s12">{{ crap[32].bet }}</td>
                        <td ng-click="placeBet(33)" class="s11 s12">{{ crap[33].bet }}</td>
                        <td ng-click="placeBet(34)" class="s11 s12 s14 s15">{{ crap[34].bet }}</td>
                        <td ng-click="placeBet(35)" class="s14 s15">{{ crap[35].bet }}</td>
                        <td ng-click="placeBet(36)" class="s14 s15 s17 s18">{{ crap[36].bet }}</td>
                        <td ng-click="placeBet(37)" class="s17 s18">{{ crap[37].bet }}</td>
                        <td ng-click="placeBet(38)" class="s17 s18 s20 s21">{{ crap[38].bet }}</td>
                        <td ng-click="placeBet(39)" class="s20 s21">{{ crap[39].bet }}</td>
                        <td ng-click="placeBet(40)" class="s20 s21 s23 s24">{{ crap[40].bet }}</td>
                        <td ng-click="placeBet(41)" class="s23 s24">{{ crap[41].bet }}</td>
                        <td ng-click="placeBet(42)" class="s23 s24 s26 s27">{{ crap[42].bet }}</td>
                        <td ng-click="placeBet(43)" class="s26 s27">{{ crap[43].bet }}</td>
                        <td ng-click="placeBet(44)" class="s26 s27 s29 s30">{{ crap[44].bet }}</td>
                        <td ng-click="placeBet(45)" class="s29 s30">{{ crap[45].bet }}</td>
                        <td ng-click="placeBet(46)" class="s29 s30 s32 s33">{{ crap[46].bet }}</td>
                        <td ng-click="placeBet(47)" class="s32 s33">{{ crap[47].bet }}</td>
                        <td ng-click="placeBet(48)" class="s32 s33 s35 s36">{{ crap[48].bet }}</td>
                        <td ng-click="placeBet(49)" class="s35 s36">{{ crap[49].bet }}</td>
                        <td ng-click="placeBet(50)" class="s2 s3 s5 s6 s8 s9 s11 s12 s14 s15 s17 s18 s20 s21 s23 s24 s26 s27 s29 s30 s32 s33 s35 s36">{{ crap[50].bet }}</td>
                    </tr>
                    <tr>
                        <td ng-click="placeBet(51)" class="s37 s0">{{ crap[51].bet }}</td>
                        <td ng-click="placeBet(52)" class="s37 s0 s2">{{ crap[52].bet }}</td>
                        <td ng-click="placeBet(53)" class="black s2">2 {{ crap[53].bet }}</td>
                        <td ng-click="placeBet(54)" class="s2 s5">{{ crap[54].bet }}</td>
                        <td ng-click="placeBet(55)" class="red s5">5 {{ crap[55].bet }}</td>
                        <td ng-click="placeBet(56)" class="s5 s8">{{ crap[56].bet }}</td>
                        <td ng-click="placeBet(57)" class="black s8">8 {{ crap[57].bet }}</td>
                        <td ng-click="placeBet(58)" class="s8 s11">{{ crap[58].bet }}</td>
                        <td ng-click="placeBet(59)" class="black s11">11 {{ crap[59].bet }}</td>
                        <td ng-click="placeBet(60)" class="s11 s14">{{ crap[60].bet }}</td>
                        <td ng-click="placeBet(61)" class="red s14">14 {{ crap[61].bet }}</td>
                        <td ng-click="placeBet(62)" class="s14 s17">{{ crap[62].bet }}</td>
                        <td ng-click="placeBet(63)" class="black s17">17 {{ crap[63].bet }}</td>
                        <td ng-click="placeBet(64)" class="s17 s20">{{ crap[64].bet }}</td>
                        <td ng-click="placeBet(65)" class="black s20">20 {{ crap[65].bet }}</td>
                        <td ng-click="placeBet(66)" class="s20 s23">{{ crap[66].bet }}</td>
                        <td ng-click="placeBet(67)" class="red s23">23 {{ crap[67].bet }}</td>
                        <td ng-click="placeBet(68)" class="s23 s26">{{ crap[68].bet }}</td>
                        <td ng-click="placeBet(69)" class="black s26">26 {{ crap[69].bet }}</td>
                        <td ng-click="placeBet(70)" class="s26 s29">{{ crap[70].bet }}</td>
                        <td ng-click="placeBet(71)" class="black s29">29 {{ crap[71].bet }}</td>
                        <td ng-click="placeBet(72)" class="s29 s32">{{ crap[72].bet }}</td>
                        <td ng-click="placeBet(73)" class="red s32">32 {{ crap[73].bet }}</td>
                        <td ng-click="placeBet(74)" class="s32 s35">{{ crap[74].bet }}</td>
                        <td ng-click="placeBet(75)" class="black s35">35 {{ crap[75].bet }}</td>
                        <td ng-click="placeBet(76)" class="s2 s5 s8 s11 s14 s17 s20 s23 s26 s29 s32 s35">2-1 {{ crap[76].bet }}</td>
                    </tr>
                    <tr>
                        <td ng-click="placeBet(77)"  class="s0" rowspan="2">0 {{ crap[77].bet }}</td>
                        <td ng-click="placeBet(78)"  class="s0 s1 s2">{{ crap[78].bet }}</td>
                        <td ng-click="placeBet(79)"  class="s1 s2">{{ crap[79].bet }}</td>
                        <td ng-click="placeBet(80)"  class="s1 s2 s4 s5">{{ crap[80].bet }}</td>
                        <td ng-click="placeBet(81)"  class="s4 s5">{{ crap[81].bet }}</td>
                        <td ng-click="placeBet(82)"  class="s4 s5 s7 s8">{{ crap[82].bet }}</td>
                        <td ng-click="placeBet(83)"  class="s7 s8">{{ crap[83].bet }}</td>
                        <td ng-click="placeBet(84)"  class="s7 s8 s10 s11">{{ crap[84].bet }}</td>
                        <td ng-click="placeBet(85)"  class="s10 s11">{{ crap[85].bet }}</td>
                        <td ng-click="placeBet(86)"  class="s10 s11 s13 s14">{{ crap[86].bet }}</td>
                        <td ng-click="placeBet(87)"  class="s13 s14">{{ crap[87].bet }}</td>
                        <td ng-click="placeBet(88)"  class="s13 s14 s16 s17">{{ crap[88].bet }}</td>
                        <td ng-click="placeBet(89)"  class="s16 s17">{{ crap[89].bet }}</td>
                        <td ng-click="placeBet(90)"  class="s16 s17 s19 s20">{{ crap[90].bet }}</td>
                        <td ng-click="placeBet(91)"  class="s19 s20">{{ crap[91].bet }}</td>
                        <td ng-click="placeBet(92)"  class="s19 s20 s22 s23">{{ crap[92].bet }}</td>
                        <td ng-click="placeBet(93)"  class="s22 s23">{{ crap[93].bet }}</td>
                        <td ng-click="placeBet(94)"  class="s22 s23 s25 s26">{{ crap[94].bet }}</td>
                        <td ng-click="placeBet(95)"  class="s25 s26">{{ crap[95].bet }}</td>
                        <td ng-click="placeBet(96)"  class="s25 s26 s28 s29">{{ crap[96].bet }}</td>
                        <td ng-click="placeBet(97)"  class="s28 s29">{{ crap[97].bet }}</td>
                        <td ng-click="placeBet(98)"  class="s28 s29 s31 s32">{{ crap[98].bet }}</td>
                        <td ng-click="placeBet(99)"  class="s31 s32">{{ crap[99].bet }}</td>
                        <td ng-click="placeBet(100)"  class="s31 s32 s34 s35">{{ crap[100].bet }}</td>
                        <td ng-click="placeBet(101)" class="s34 s35">{{ crap[101].bet }}</td>
                        <td ng-click="placeBet(102)" class="s1 s2 s4 s5 s7 s8 s10 s11 s13 s14 s16 s17 s19 s20 s22 s23 s25 s26 s28 s29 s31 s32 s34 s35">{{ crap[102].bet }}</td>
                    </tr>
                    <tr>
                        <td ng-click="placeBet(103)" class="s0 s1">{{ crap[103].bet }}</td>
                        <td ng-click="placeBet(104)" class="red s1">1 {{ crap[104].bet }}</td>
                        <td ng-click="placeBet(105)" class="s1 s4">{{ crap[105].bet }}</td>
                        <td ng-click="placeBet(106)" class="black s4">4 {{ crap[106].bet }}</td>
                        <td ng-click="placeBet(107)" class="s4 s7">{{ crap[107].bet }}</td>
                        <td ng-click="placeBet(108)" class="red s7">7 {{ crap[108].bet }}</td>
                        <td ng-click="placeBet(109)" class="s7 s10">{{ crap[109].bet }}</td>
                        <td ng-click="placeBet(110)" class="black s10">10 {{ crap[110].bet }}</td>
                        <td ng-click="placeBet(111)" class="s10 s13">{{ crap[111].bet }}</td>
                        <td ng-click="placeBet(112)" class="black s13">13 {{ crap[112].bet }}</td>
                        <td ng-click="placeBet(113)" class="s13 s16">{{ crap[113].bet }}</td>
                        <td ng-click="placeBet(114)" class="red s16">16 {{ crap[114].bet }}</td>
                        <td ng-click="placeBet(115)" class="s16 s19">{{ crap[115].bet }}</td>
                        <td ng-click="placeBet(116)" class="black s19">19 {{ crap[116].bet }}</td>
                        <td ng-click="placeBet(117)" class="s19 s22">{{ crap[117].bet }}</td>
                        <td ng-click="placeBet(118)" class="black s22">22 {{ crap[118].bet }}</td>
                        <td ng-click="placeBet(119)" class="s22 s25">{{ crap[119].bet }}</td>
                        <td ng-click="placeBet(120)" class="red s25">25 {{ crap[120].bet }}</td>
                        <td ng-click="placeBet(121)" class="s25 s28">{{ crap[121].bet }}</td>
                        <td ng-click="placeBet(122)" class="red s28">28 {{ crap[122].bet }}</td>
                        <td ng-click="placeBet(123)" class="s28 s31">{{ crap[123].bet }}</td>
                        <td ng-click="placeBet(124)" class="black s31">31 {{ crap[124].bet }}</td>
                        <td ng-click="placeBet(125)" class="s31 s34">{{ crap[125].bet }}</td>
                        <td ng-click="placeBet(126)" class="red s34">34 {{ crap[126].bet }}</td>
                        <td ng-click="placeBet(127)" class="s1 s4 s7 s10 s13 s16 s19 s22 s25 s28 s31 s34">2-1 {{ crap[127].bet }}</td>
                    </tr>
                    <tr>
                        <td class="noborder mousec" rowspan="3"></td>
                        <td ng-click="placeBet(128)" class="s0 s37 s1 s2 s3">{{ crap[128].bet }}</td>
                        <td ng-click="placeBet(129)" class="s1 s2 s3">{{ crap[129].bet }}</td>
                        <td ng-click="placeBet(130)" class="s1 s2 s3 s4 s5 s6">{{ crap[130].bet }}</td>
                        <td ng-click="placeBet(131)" class="s4 s5 s6">{{ crap[131].bet }}</td>
                        <td ng-click="placeBet(132)" class="s4 s5 s6 s7 s8 s9">{{ crap[132].bet }}</td>
                        <td ng-click="placeBet(133)" class="s7 s8 s9">{{ crap[133].bet }}</td>
                        <td ng-click="placeBet(134)" class="s7 s8 s9 s10 s11 s12">{{ crap[134].bet }}</td>
                        <td ng-click="placeBet(135)" class="s10 s11 s12">{{ crap[135].bet }}</td>
                        <td ng-click="placeBet(136)" class="s10 s11 s12 s13 s14 s15">{{ crap[136].bet }}</td>
                        <td ng-click="placeBet(137)" class="s13 s14 s15">{{ crap[137].bet }}</td>
                        <td ng-click="placeBet(138)" class="s13 s14 s15 s16 s17 s18">{{ crap[138].bet }}</td>
                        <td ng-click="placeBet(139)" class="s16 s17 s18">{{ crap[139].bet }}</td>
                        <td ng-click="placeBet(140)" class="s16 s17 s18 s19 s20 s21">{{ crap[140].bet }}</td>
                        <td ng-click="placeBet(141)" class="s19 s20 s21">{{ crap[141].bet }}</td>
                        <td ng-click="placeBet(142)" class="s19 s20 s21 s22 s23 s24">{{ crap[142].bet }}</td>
                        <td ng-click="placeBet(143)" class="s22 s23 s24">{{ crap[143].bet }}</td>
                        <td ng-click="placeBet(144)" class="s22 s23 s24 s25 s26 s27">{{ crap[144].bet }}</td>
                        <td ng-click="placeBet(145)" class="s25 s26 s27">{{ crap[145].bet }}</td>
                        <td ng-click="placeBet(146)" class="s25 s26 s27 s28 s29 s30">{{ crap[146].bet }}</td>
                        <td ng-click="placeBet(147)" class="s28 s29 s30">{{ crap[147].bet }}</td>
                        <td ng-click="placeBet(148)" class="s28 s29 s30 s31 s32 s33">{{ crap[148].bet }}</td>
                        <td ng-click="placeBet(149)" class="s31 s32 s33">{{ crap[149].bet }}</td>
                        <td ng-click="placeBet(150)" class="s31 s32 s33 s34 s35 s36">{{ crap[150].bet }}</td>
                        <td ng-click="placeBet(151)" class="s34 s35 s36">{{ crap[151].bet }}</td>
                        <td class="noborder mousec" rowspan="3"></td>
                    </tr>
                    <tr>
                        <td ng-click="placeBet(152)" class="s1 s2 s3 s4 s5 s6 s7 s8 s9 s10 s11 s12" colspan="8">1nd 12 {{ crap[152].bet }}</td>
                        <td ng-click="placeBet(153)" class="s13 s14 s15 s16 s17 s18 s19 s20 s21 s22 s23 s24" colspan="8">2nd 12 {{ crap[153].bet }}</td>
                        <td ng-click="placeBet(154)" class="s25 s26 s27 s28 s29 s30 s31 s32 s33 s34 s35 s36" colspan="8">3rd 12 {{ crap[154].bet }}</td>
                    </tr>
                    <tr>
                        <td ng-click="placeBet(155)" class="s1 s2 s3 s4 s5 s6 s7 s8 s9 s10 s11 s12 s13 s14 s15 s16 s17 s18" colspan="4">1-18 {{ crap[155].bet }}</td>
                        <td ng-click="placeBet(156)" class="s2 s4 s6 s8 s10 s12 s14 s16 s18 s20 s22 s24 s26 s28 s30 s32 s34 s36" colspan="4">Even {{ crap[156].bet }}</td>
                        <td ng-click="placeBet(157)" class="red s1 s3 s5 s7 s9 s12 s14 s16 s18 s21 s23 s25 s27 s28 s30 s32 s34 s36" colspan="4">Red {{ crap[157].bet }}</td>
                        <td ng-click="placeBet(158)" class="black s2 s4 s6 s8 s10 s11 s13 s15 s17 s19 s20 s22 s24 s26 s29 s31 s33 s35" colspan="4">Black {{ crap[158].bet }}</td>
                        <td ng-click="placeBet(159)" class="s1 s3 s5 s7 s9 s11 s13 s15 s17 s19 s21 s23 s25 s27 s29 s31 s33 s35" colspan="4">Odd {{ crap[159].bet }}</td>
                        <td ng-click="placeBet(160)" class="s19 s20 s21 s22 s23 s24 s25 s26 s27 s28 s29 s30 s31 s32 s33 s34 s35 s36" colspan="4">19-36 {{ crap[160].bet }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-4">
            <button type="button" class="btn btn-default btn-lg btn-block" ng-click="play()">{{ step }}</button>
        </div>
        <div class="col-sm-4">
            <h2 class="naration" ng-show="showResult">Result: ${{ payout }}</h2>
        </div>
        <div class="col-sm-4">
            <form class="form-inline" role="form">
                <div class="form-group bet">
                    <div class="input-group-btn-vertical inline">
                        <button class="btn btn-default" type="button" ng-click="setBet(1)"><i class="fa fa-caret-up"></i></button>
                        <button class="btn btn-default" type="button" ng-click="setBet(-1)"><i class="fa fa-caret-down"></i></button>
                    </div>
                    <h2 class="naration inline">&nbsp;Bet: {{ betVal }}</h2>
                </div>
            </form>
        </div>
        <div class="col-sm-12">
            <br />
            <h2 class="naration col-sm-3">Red: ~{{ stats.red / stats.sum * 100 | number:0 }}%</h2>
            <h2 class="naration col-sm-3">Black: ~{{ stats.black / stats.sum * 100 | number:0 }}%</h2>
            <h2 class="naration col-sm-3">Zeros: ~{{ stats.zeros / stats.sum * 100 | number:0 }}%</h2>
            <h2 class="naration col-sm-3">Casino Profit: ${{ stats.profit }}</h2>
        </div>
    </div>
</div>