.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.skip-link {
  background: white;
  color: black;
  left: 0.5rem;
  padding: 0.5rem;
  position: fixed;
  top: 0.5rem;
  transform: translateY(-200%);
  z-index: 2000;
}

.skip-link:focus {
  transform: translateY(0);
}

.sr-only {
  border-width: 0;
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
